* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient( to right,  #b22eff, #542eff);
    font-family: 'Roboto', sans-serif;
}

form{
    background-color: white;
    max-width: 500px;
    margin: 80px auto;
    padding: 60px 0;
    border-radius: 40px;
    box-shadow: 10px 10px 10px #00000033;
}

form h1{
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 60px;
    background: -webkit-linear-gradient(#b22eff, #542eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

form input{
    display: block;
    margin: 50px auto;
    width: 350px;
    border: none;
    border-bottom: solid 1px rgb(167, 167, 167);
    padding-bottom: 10px;
    height: 100%;
}

form input:focus {
    outline: none;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to left, #b22eff, #542eff);
}

form input::placeholder{
    color: #ff0000(167, 167, 167);
    letter-spacing: 1px;
    font-size: 16px;
}

form button{
    background-image: linear-gradient( to right,  #b22eff, #542eff);
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    display: block;
    border: none;
    width: 250px;
    height: 50px;
    margin: 0px auto;
    border-radius: 20px;
    font-size: 17px;
}

form button:hover{
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.5s;
}
